*{
    margin:0 ;
    padding: 0;
}
.container{
    border: 2px solid grey;
    width: 280px;
    height: 300px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(190, 219, 219);
    border-radius: 20px;
}
.container h1{
    color: rgb(216, 126, 16);
    text-align: center;
    margin-top: 10px;
}
.container hr{
    color: red;
    width: 50%;
    margin-left: 25%;
}